.star {
  display: grid;
  grid-template-areas:
    "starring starring starring"
    "david and jennifer"
    "d-img . j-img";
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: auto;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  text-align: center;
}

.starring {
  grid-area: starring;
}

.david {
  grid-area: david;
}

.and {
  grid-area: and;
  align-self: flex-start;
}

.jennifer {
  grid-area: jennifer;
}

.d-img {
  grid-area: d-img;
}

.j-img {
  grid-area: j-img;
}

.star img {
  width: 208px;
  height: 302px;
}

@media screen and (max-width: 450px) {
  .star img {
    width: 130px;
    height: auto;
    align-self: center;
  }
}
