.container {
  display: flex;
  justify-content: left;
  column-gap: 10px;
}

.page-wrapper img {
  height: 375px;
  width: 258px;
}

@media screen and (max-width: 660px) {
  .container {
    flex-direction: column;
  }
}
